
/* == COLOURS === */
@light-grey: #CCC;
@dark-grey: #777;
@vdark-grey: #333;

/* === mixins === */
.clear{clear:both; display:block;
    &:after{content:''; display:block; clear:both;}
}
.success{
	background:greenyellow;
} // .success

.error{
	background:indianred;
} // .error

.user-feedback{
	width:100%;
	padding:5px 10px;
	display:none;
} // .user-feedback

.ajax-loader{
	box-shadow:0 0 0 transparent !important;
	display:none;
} // .ajax-loader

.wpproj-form{

	p{
		margin-bottom:0; padding:0;
	} // p

	label{
		margin-right:5px; padding:3px;
		width:200px;
		display:inline-block;
	} // label

	input{

		&[type="text"]{
			padding:3px;
			width:215px;
		} // &[type=text]

		&[type="submit"]{margin-right:5px;}

		&:focus{border:1px solid @vdark-grey;}

	} // input

	#contact-street-second{margin:5px 0 0 211px;}

	.ajax-loader{margin:0 0 -6px 5px;}

} // #create-contact

/* === tabbs === */
.tab-wrapper{
	background:#CCC;
	width:100%;
	display:block;
	.clear;
	.tab{
		list-style-type:none;
		float:left;
		margin-left:5px;

		a{
			padding:5px;
			display:inline-block;
			text-decoration:none;

			&:hover,
			&.active{
				text-decoration:none;
				color:white;
				background:#333;
			}
		} // a
	} // .tab

} // .tab-wrapper