/* == COLOURS === */
/* === mixins === */
.clear {
  clear: both;
  display: block;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.success {
  background: greenyellow;
}
.error {
  background: indianred;
}
.user-feedback {
  width: 100%;
  padding: 5px 10px;
  display: none;
}
.ajax-loader {
  box-shadow: 0 0 0 transparent !important;
  display: none;
}
.wpproj-form p {
  margin-bottom: 0;
  padding: 0;
}
.wpproj-form label {
  margin-right: 5px;
  padding: 3px;
  width: 200px;
  display: inline-block;
}
.wpproj-form input[type="text"] {
  padding: 3px;
  width: 215px;
}
.wpproj-form input[type="submit"] {
  margin-right: 5px;
}
.wpproj-form input:focus {
  border: 1px solid #333333;
}
.wpproj-form #contact-street-second,
.wpproj-form #company-street-second {
  margin: 5px 0 0 211px;
}
.wpproj-form .ajax-loader {
  margin: 0 0 -6px 5px;
}
/* === tabbs === */
.tab-wrapper {
  background: #CCC;
  width: 100%;
  clear: both;
  display: block;
}
.tab-wrapper:after {
  content: '';
  display: block;
  clear: both;
}
.tab-wrapper .tab {
  list-style-type: none;
  float: left;
  margin-left: 5px;
}
.tab-wrapper .tab a {
  padding: 5px;
  display: inline-block;
  text-decoration: none;
}
.tab-wrapper .tab a:hover,
.tab-wrapper .tab a.active {
  text-decoration: none;
  color: white;
  background: #333;
}
